@media screen and (max-width:941px) {
    .inicio {
        width: 400px;
    }
}

@media screen and (max-width:918px) {
    .conteudo {
        gap: 0;
    }

    .conteudoQuizz {
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (max-width:806px) {
    .inicio {
        width: 350px;
        font-size: 15px;
    }
}

@media screen and (max-width:888px) {
    .descQuiz {
        width: 400px;
    }
}

@media screen and (max-width:758px) {
    .inicio {
        width: 320px;
        font-size: 15px;
    }
}

@media screen and (max-width:796px) {
    .descQuiz {
        width: 300px;
    }

    .descQuiz h1 {
        font-size: 22px
    }
}

@media screen and (max-width:726px) {
    .inicio {
        width: 280px;
        font-size: 14px;
    }
}

@media screen and (max-width:695px) {
    .conteudo {
        height: 100%;
        align-items: center;
        justify-content: center;
        gap: 30px;
        flex-direction: column !important;
    }

    .inicio {
        width: 350px;
        font-size: 15px;
    }
}

@media screen and (max-width:378px) {
    .quiz {
        width: 100%;
    }

    .descQuiz {
        width: 100%;
    }

    .inicio {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width:348px) {
    .quiz {
        width: 100%;
    }

    .conteudoQuizz button {
        padding: 3px;
    }

    .conteudoQuizz {
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width:302px) {
    .descQuiz h1 {
        font-size: 17px
    }
}